{
    "plugins": [
        [
            "module-resolver", {
                "alias": {
                    "base": "./src/",
                    "internal": "./src/internal"
                }
            }
        ],
        "transform-class-properties",
        "syntax-dynamic-import",
        [
            "transform-runtime",
            {
                "helpers": true,
                "polyfill": false,
                "regenerator": true
            }
        ],
        [
            "transform-object-rest-spread",
            {
                "useBuiltIns": true
            }
        ]
    ],
    "presets": [
        "react",
        [
            "env", {
                "targets": {
                    "ie9": true
                },
                "uglify": true
            }
        ]
    ]
}
